/* .box{
    width: 500px;
    height: 80px; */
    /* background-color: rgb(211, 90, 90); */
    /* box-shadow: 3px 3px 3px rgb(211, 90, 90);
    
}
h2,a,p{
    color: white;
}
body{
    background-color: black;
} */